/* CSS for Navigation Bar */
nav {
  background-color: #333; /* Background color of the navigation bar */
  overflow: hidden; /* Clear any floated elements inside the nav */
}

nav ul {
  list-style-type: none; /* Remove list bullets */
  margin: 0;
  padding: 0;
}

nav li {
  float: left; /* Make list items appear horizontally */
}

nav a {
  display: block;
  color: white; /* Text color of the links */
  text-align: center;
  padding: 14px 16px; /* Padding around the links */
  text-decoration: none;
}

/* Change the color on hover */
nav a:hover {
  background-color: #333;
  color: black;
}

body {
  background-color: #FF0044; 
}

 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #000000;
   
 
 
 }

    #main-content {
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
    }

    .video {
      margin-bottom: 20px;
    }

    .video-thumbnail {
      width: 100%;
      max-width: 350px;
    }

    .video-info {
      margin-top: 10px;
    }

    .video-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .video-description {
      font-size: 14px;
      color: #555;
    }

